 /* Code referenced from SmartPhoneProducts */
 
  /* General */
 
  html {
    font-family: 'Quicksand', sans-serif;
    color: #303349;
    background-image: url("https://static.tumblr.com/115f018d6e7e915654159bb88f77e96f/k8zu722/IDRnt3asx/tumblr_static_57abpl0gwwsg44cwss4o8gw84.png");
    background-color: white;
    font-size: 10px;
  }
  
  body {
    width: 800px;
    background-color: white;
    margin: 0 auto;
  }
  
  /* Typography */
  
  h1, h2 {
    
    font-family: 'Quicksand';
    margin: 0;
    text-align: center;
  }
  
  
  h1 {
    font-size: 5rem;
    background-size: 48px 48px;
    background-blend-mode: lighten;
  }
  
  h2 {
    font-size: 20px;
    text-align: center;
    position: relative;
    z-index: 3000;
    line-height: 2rem;
    padding-top: 0.3rem;
  }
  
  p {
    font-size: 1.5rem;
    font-family: 'Quicksand';
    text-align: center;
  }

  label, input {
    font-size: 1.25rem;
    font-family: 'Quicksand';
    display: inline;
    margin-bottom: 20px;
  }

  .purchase_submit {
    font-size: 1.75rem;
    color: white;
  }

  table p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
  }
  
  .grand_total {
    text-align: left;
  }

  .welcome {
    text-align: center;
    font-size: 30px;
  }

  .gotostore {
    font-family: 'Quicksand';
    font-size: 1.75rem;
    color: white;
  }

  .faq, .thankyou {
    font-size: 14px;
  }
  
  /* block styling */
  
  header, main, footer {
    padding: 40px;
    padding-top: 50px;
  }
  
  hr {
    display: block;
    width: 90%;
    border-style: solid #303349;
    border-width: 0.5px;
  }
  
  footer h1 {
    font-size: 3rem;
  }
  
  table {
    width: 100%;
    margin: 20px;
    margin-bottom: 30px;
  }

  .welcome {
    width: 100%;
    margin-bottom: 20px;
  }

  /*  Form styling */
  
  main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  /* Styling the products */
  
  .item_set {
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 50px;
    position: relative;
    height: 430px;
  }
  
  .item {
    width: 20%;
    margin-bottom: 20px;
    position: relative;
    align-items: center;
    display: block;

  }

  .registerpage {
    display: inline;
    width: 90%;
  }

  .registerform, .loginform {
    width: 400px;
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .faq, .thankyou {
    width: 500px;
  }
  
  section p {
    color: white;
    background: #303349;
    width: 50px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    z-index: 2000;
    position: absolute;
    top: 0px;
  }

  .item_set img {
    width: 100%; 
    display: block;
    position: relative;
    bottom: 0px;
    border-radius: 5px;
  }
  
  .item img {
    width: 100%; 
    display: block;
    position: relative;
    box-align: center;
    bottom: 0px;
    border-radius: 5px;
  }

  .purchase_submit {
    width: 200px;
    padding: 15px;
    background-color: #303349;
    border: 0;
  }

  input {
    width: 100%;
    margin-top: 5px;
  }

  .quantity_input {
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
  }

  .gotostore {
    width: 200px;
    padding: 15px;
    background-color: #303349;
    border: 0;
  }

  .nav, .registersubmit, .send {
    width: 100px;
    padding: 8px;
    border: 1px solid #585858;
    background-color: white;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .registersubmit, .send {
    width: 20%;
    margin-left: 40%;
  }

  .navbuttons {
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 368px;
    display: block;
  }